/* ----------- register ------------- */

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76vh;
  flex-direction: column;
  background-color: #aaebe7;
  background-image: linear-gradient(0deg, #ccf5f2 0%, #97f4f1 100%);
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: white;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.form-container form input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: #ffffff;
  width: 250px;
}

.form-container form button:hover {
  border: 1px solid black;
  background-color: rgb(39, 150, 255);
}
